# Backend
PORT=8005
IS_PRODUCTION=false
JWT_SECRET_KEY=change-this
POSTGRES_USER=data_analysis_user
POSTGRES_PASSWORD=user123
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=data_analysis
REDIS_URL=redis://redis:6379/0
ADMIN_EMAIL=admin@admin.com
ADMIN_PASSWORD=admin123

# S3
S3_BUCKET=your-s3-bucket
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your-key
AWS_SECRET_ACCESS_KEY=your-secret

# LLM & Embeddings
EMBEDDING_SERVICE_URL=http://111.118.189.124:8050
OLLAMA_URL=http://111.118.189.124:11435/api/generate
MODEL=gpt-oss:120b

# Frontend
VITE_API_URL=http://localhost:8005
